.team-block {
    padding: 5rem 0;
    background-color: #f4f4f4;
}

.title-holder {
    text-align: center;
    margin-bottom: 3rem;

    h2 {
        font-size: 2.5rem;
        color: #333;
    }

    .subtitle {
        font-size: 1.25rem;
        color: #777;
    }
}

.team-member {
    margin-bottom: 3rem;
    text-align: center;
    position: relative;

    .image {
        width: 14rem;
        height: 14rem;
        margin: 0 auto;
        border-radius: 50%;
        overflow: hidden;
        position: relative;
        box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3);

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            /**border: 0.5rem solid rgba(0, 0, 0, 0.9);**/
        }

        .overlay {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: rgba(0, 0, 0, 0.5);
            opacity: 0;
            transition: opacity 0.3s ease;

            &:hover {
                opacity: 1;
            }

            .socials ul {
                display: flex;
                list-style: none;
                padding: 0;
                margin: 0;
                
                li {
                    margin: 0 0.5rem;
                    
                    a {
                        color: #fff;
                        font-size: 1.5rem;
                        transition: color 0.3s;

                        &:hover {
                            color: #007bff;
                        }
                    }
                }
            }
        }
    }

    .content {
        margin-top: 1rem;

        h3 {
            font-size: 1.25rem;
            font-weight: bold;
            margin-bottom: 0.5rem;
        }

        .designation {
            font-size: 1rem;
            color: #777;
        }

        p {
            font-size: 1rem;
            color: #555;
            margin-top: 1rem;
        }
    }
}

@media (max-width: 768px) {
    .team-member {
        .image {
            width: 10rem;
            height: 10rem;
        }
    }
}
